*.gem
*.rbc
.DS_Store
.bundle
.rvmrc
.ruby-version
.yardoc
.rake_tasks~
Gemfile.lock
coverage/*
doc/*
log/*
pkg/*
.idea/*
spec/dummy/log/*.log
spec/dummy/tmp/
.DS_Store
.byebug_history
/coverage.data
/coverage/
dump.rdb